/*Gradientes y animaciones*/

$gradient-color-general: (to right,#5f3f2d,#a86643,#fec67d); 
$gradient-color-footer: (to top,#171716,#a86643,#fec67d); 
$gradient-color-cards: (to right,#171716,#a86643,#fec67d)


